<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
<link th:href="@{style.css}" rel="stylesheet" />
<meta charset="UTF-8">
<title>LMS</title>
</head>
<body>

<!-- navigation bar -->
<header class="topnav">
<h4 class="logo">book2employee</h4>
<nav>
<ul class="nav-links">
<li><p class="logout"> <a href="./LogoutPage">Logout</a></p></li>
</ul>
</nav>
</header>
<h3 class="welcome">List of Books Borrowed</h3>
<table id= "styled-table" border="1">

	<!-- tr: Table Row -->
	<tr>
		<!-- Table Header -->
		<th>Transaction ID</th>
		<th>Book ID</th>
		<th>Book Type</th>
		<th>Issue Date</th>
		<th>Expected Return Date</th>
		<th>Number of Copies borrowed</th>
		<th>Return</th>
	</tr>
	
	<!--  <form action="./returningBookButton" object="${library}" method=post> -->
	<tr th:each="library2 : ${libraries}"><!-- add form -->
	
		
	<!-- table data -->
		<td th:text="${library2.transactionId}"></td>
		<td th:text="${library2.bookId}"></td><!-- input box editable false aand set  -->
		<td th:text="${library2.bookType}"></td>
		<td th:text="${library2.issueDate}"></td>
		<td th:text="${library2.expectedReturnDate}"></td>
		<td th:text="${library2.numberOfCopies}"></td>
		<td><a th:href="@{'./returningBookButtonFromBorrowedBooks?tId='+${library2.transactionId}}" class = "button button1">Return Book</a></td> <!-- if js not allowed we can add here separated by ; -->
		<!-- each row is a form and the text fields are uneditable -->
	
	</tr>
</table>
<br>
<br>

  <p class="policy"><b>RETURN BOOK POLICY</b></p>
 <div class="policy-detail">
    <ul class="fee">
  <li>Maximum of 5 books per loan</li>
  <li>Books must be returned within <b>7</b> days from loan date. Late fee apply!</li>
    <dd>- The late fee is <b>Rs 5</b> per day for a <b>Data Analytics</b> Type book</dd>
    <dd>- The late fee is <b>Rs 6</b> per day for a <b>Technology</b> Type book</dd>
    <dd>- The late fee is <b>Rs 7</b> per day for a <b>Management</b> Type book</dd>
  <li>Happy Reading! <i class="fa-regular fa-face-smile"></i></li>
</ul>  
  </div>
  <br>
    <br>
      <br>
        <br>
          <br>
<br><br>
<h2 th:text="${message2}"></h2>
<h2 th:text="${bookDetails}"></h2>

<h2 th:text="${latefee}" style="color: red"></h2>
<br><br>
<a href="./index">Back to Menu</a>
<br>
<br>

<br>
<br>
<br>
<br>
<!-- changed footer -->
<div class = footer>
   <p class="footer-text">Creators: Ash, Bernice, Boram, Natalia and Roxana </p>
   <p class="footer-text">Copyright &copy; <script>document.write(new Date().getFullYear());</script>, Group 2 Wiley Edge Team </p>
</div>
</body>
</html>
