<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
<link th:href="@{style.css}" rel="stylesheet" />
<meta charset="ISO-8859-1">
<title>LMS</title>
</head>
<body>
<!-- navigation bar -->
<header class="topnav">
<h4 class="logo">books2employee</h4>
<nav>
<ul class="nav-links">
<li><p class="logout"> <a href="./LogoutPage">Logout</a></p></li>
</ul>
</nav>
</header>

<h2 style="color: red">Something went wrong...</h2>
<hr>
<br><br>

<br><br>
<a href="./index">Go Back to Menu</a> <!-- ? -->
<br>
<br>
<br>
<br>
<br>
<br>
<!-- changed footer -->
<div class = footer>
   <p class="footer-text">Creators: Ash, Bernice, Boram, Natalia and Roxana </p>
   <p class="footer-text">Copyright &copy; <script>document.write(new Date().getFullYear());</script>, Group 2 Wiley Edge Team </p>
</div>
</body>
</html>