<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
<link th:href="@{style.css}" rel="stylesheet" />
<meta charset="ISO-8859-1">
<title>LMS</title>
</head>
<body>
<!-- navigation bar -->
<header class="topnav">
<h4 class="logo">books2employee</h4>
<nav>
<ul class="nav-links">
<li><p class="logout"> <a href="./LogoutPage">Logout</a></p></li>
</ul>
</nav>
</header>
<hr>
<h2>Book successfully borrowed!</h2>
<br>
<form action="#" th:action="@{./borrowBooks}" th:object="${library}" th:method=post>

<table id="styled-table" border="1">
    <!-- tr: Table Row -->
    <tr>
        <!-- Table Header -->
        <th>Book ID</th>
		<th>Book Type</th>
		<th>Issue Date</th>
		<th>Expected Return Date</th>
		<th>Number of Copies borrowed</th>
    </tr>
    
    <tr th:each="library : ${libraries}">
	<!-- table data -->
		<td th:text="${library.bookId}"></td>
		<td th:text="${library.bookType}"></td>
		<td th:text="${library.issueDate}"></td>
		<td th:text="${library.expectedReturnDate}"></td>
		<td th:text="${library.numberOfCopies}"></td>
</table>
    <!-- Enter number of copies <input type="text" th:field="${book.numberOfCopies}"><br><br> -->
    </form> 
<br><br>
<h2 th:text="${message}" style="color: red"></h2>

<br><br>
<a href="./viewCatalogue">Borrow Another Book</a>
<br>
<br>
<a href="./index">Back to Menu</a>
<br>
<br>
<br>
<br>
<br>
<br>

<!-- changed footer -->
<div class = footer>
   <p class="footer-text">Creators: Ash, Bernice, Boram, Natalia and Roxana </p>
   <p class="footer-text">Copyright &copy; <script>document.write(new Date().getFullYear());</script>, Group 2 Wiley Edge Team </p>
</div>
</body>
</html>